/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #026467;
  --secondary-color: #e5f5ea;
  --body-text-color: #596392;
  --navbar-footer-color: #f9f9f9;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--body-text-color);
  margin: 0;
  padding: 0;
}

.site-logo {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
}

.nav-link {
  color: var(--primary-color);
}

.shadow-effect {
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}

.home-section {
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 130px;
}
