<div class="card shadow-effect">
  <img
    src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center m-3"> Featured </small>
    <small class="bg-light text-info text-center"> Views - 100,256 </small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptatum, quibusdam, quia, voluptate quod voluptas quos exercitationem
      quas voluptatibus quidem doloribus. Quisquam voluptatum, quibusdam, quia,
      voluptate quod voluptas quos exercitationem quas voluptatibus quidem
      doloribus.
    </p>
    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATED - SEP 20, 2021
    </small>
  </div>
</div>
